# Dataset
data/

# Mac zip extraction junk
_MACOSX/
.DS_Store

# Model outputs
models/*.h5
models/*.tflite

# Logs
logs/

# Python cache
__pycache__/
*.pyc

# Virtual env
venv/

# Models
models/*.keras
models/*.npy
models/*.tflite